@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #e8e8e8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Bree Serif", serif;
  font-weight: 800;
  font-style: normal;
}

.App-body {
  font-family: "Bree Serif", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.inputs {
  font-family: "Bree Serif", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  border: 4px solid #000;
  background: none;
  padding: 1rem;
  color: black;
  width: 80px;
  outline: none;
  margin: 40px;
  background: #fff;
  border: 8px solid #000;
  box-shadow: 15px 15px 0 #000;
}

.card {
  width: 320px;
  padding: 30px;
  padding-top: 10px;
  background: #fff;
  border: 8px solid #000;
  box-shadow: 15px 15px 0 #000;
  color: #000;
  position: relative;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: scroll;
  height: 100px;
}

#separator {
  position: absolute;
  left: 170px;
}

h1 {
  color: #000;
}

.iconSpan {
  font-size: 50px;
  color: #fff;
  position: relative;
  top: 16px;
  filter: drop-shadow(5px 5px 0px #000000);
}

.buttonSpan {
  cursor: pointer;
  outline: none;
  background-color: transparent !important;
  animation: inherit 0.5s ease-in-out;
  border: none !important;
  transition: 0.5s;
}

.buttonSpan:hover {
  animation: inherit 0.5s ease-in-out;
  transition: 0.5s;
  transform: translateY(-8px);
}

@media (max-width: 600px) {
  .inputs {
    width: 80%;
    margin: 20px 0;
  }

  .card {
    width: 80%;
    padding: 20px;
    box-shadow: 10px 10px 0 #000;
    margin-bottom: 50px;
    height: auto;
  }

  #separator {
    position: static;
    margin: 0 5px;
  }

  .iconSpan {
    font-size: 40px;
    top: 10px;
  }

  .App-header {
    font-size: calc(8px + 2vmin);
  }

  .App-body {
    font-size: 16px;
    padding: 10px;
  }
}